<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027875561808-gf593sr9vrh9alt90dbv36cg2gp82poh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027875561808-gf593sr9vrh9alt90dbv36cg2gp82poh</string>
	<key>API_KEY</key>
	<string>AIzaSyAqfViwKGjgOvQlCztWAkS7trxCTNFw17I</string>
	<key>GCM_SENDER_ID</key>
	<string>1027875561808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dhiman.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-e5462</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-e5462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027875561808:ios:ae45a62fc8dfb42d20cc55</string>
</dict>
</plist>